.container-permission
  -# %img.center{ :src=>"assets/boss.gif",:alt => "this is funny image,haha"}
  .center= image_tag("boss.gif")
  %h3.permit-alert You don't have permission to access on this website,please contact admin.
