body, html {
    height: 100%;
    position: relative;
}
.container-tgm {
  // background-image: url("index_background.jpg");
  background: asset_url('index_background.jpg');
  height: 100%;
    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .devise-block {
    z-index: 10;
    background-color: white;
    opacity: 0.9;
    color:#080808;
    margin: auto;
    font-size: 15px;
    // width: 50%;
    border: 1px solid green;
    padding: 50 20 20 20;
    width: 450px;
    .title {
      text-align: center;
      font-weight: 900;
      font-size: 30px;
    }

    .actions {
      text-align: center;
      .submit-btn {
        width: 10em;
        height: 3em;
      }
    }

  }

  .logout {
    font-size: 20px;
    float: right;
    color: red;
  }

  .login {
    font-size: 20px;
    float: right;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
  }
}
.alert-block {
  z-index: 10;
  position: absolute;

}
.container-permission {
  .center {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    // width: 50%;
  }
  .permit-alert {
    text-align: center;
    font-weight: 600;
    color: red;
  }
}
.user-detail {
  .edit-user {
    margin: auto;
    font-size: 15px;
    border: 1px solid green;
    padding: 30 20 20 20;
    width: 400px;
    margin-top: 50px;
    .title-change-data {
      font-weight: 600;
      color: green;
      text-align: center;
    }
    .change-data-form {
      .action {
        text-align: center;
      }
    }
  }
}
