.container
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} Username
        %th{:scope => "col"} Admin
        %th{:scope => "col"} Approval
        %th{:scope => "col"} Action
    %tbody
    - @list_user.each do |user|
      %tr
        %th{:scope => "row"}=user.email
        %td=user.admin
        %td=user.approval
        %td
          %a{"data-method": "get",href: "/tagmanager/user/edit/#{user.id}"} Edit
          &nbsp;
          %a.delete-user{:href => "#",:user_id => "#{user.id}"} Delete
