.container.user-detail
  .edit-user
    %h4.title-change-data User info
    %form.change-data-form{method: 'POST', action: "/tagmanager/user/update/#{@user_edit.id}"}
      .form-group
        %label=@user_edit.email
      .form-group
        %input{:name => "admin_cb", :type => "checkbox",:checked => @user_edit.admin} Admin
      .form-group
        %input{:name => "approval_cb", :type => "checkbox",:checked => @user_edit.approval} Approval
      .form-group.action
        %button#edit-user.btn.btn-success{:type => 'submit'} save change
