%script{:src => "/tagmanager/evn/radareporter.js",:async => ""}
%input.data_user{:type => "hidden",:value => current_user.email}
%h2 This is web test tracking code
%form.col-sm-12
  .form-group
    %label{:for => "exampleInputEmail1"} Email address
    %input#exampleInputEmail1.form-control{:placeholder => "Email", :type => "email"}/
  .form-group
    %label{:for => "exampleInputPassword1"} Password
    %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}/
  .form-group
    %label{:for => "exampleInputFile"} File input
    %input#exampleInputFile{:type => "file"}/
    %p.help-block Example block-level help text here.
  .checkbox
    %label
      %input{:type => "checkbox"}/
      Check me out
  %a.btn.btn-default.save-data{:alias_name => "khoa hoc tot nhat"} Submit
  %a.btn.btn-default.view_course{:alias_name => "xem chi tiet khoa hoc"} View Course
  -# %a.btn.btn-default#measua_time Measure time
  %a.btn.btn-default#stop_measua Measure Stop
  %a.btn.btn-default#tracking_spy Test Spymaster
  %a.btn.btn-default#send_local_storage Test Send To Server
  %a.btn.btn-default#stop_save_data_server Save Data Stop
.text-default#text-default
  %p Give me tacos, or give me death. It’s raining tacos, from out of the sky, tacos, don’t even ask why. I think I’ve overdosed on tacos. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. TACOS!! CARNE ASADA!! Make it a double there pal.

  %p I’d have to say, those tacos are on fleek. Fish tacos with cabbage slaw and a side of chips and guac. How bout a gosh darn quesadilla? Make it a double there pal. CARNITAS!! Shrimp tacos are tasty tacos! Can you put some peppers and onions on that? Fish tacos with cabbage slaw and a side of chips and guac. CARNITAS!! It’s long been rumored that the chupacabra is really just a crazed man who’s local taco shop went out of business. Make it a double there pal. Burritos are very tasty. Carne asada on corn tortillas.

  %p Tacos al pastor made with adobada meat. Burritos are very tasty. Give me all your tacos. TACOS!! Shrimp tacos are tasty tacos! 50 cent tacos! I’ll take 30. How bout a gosh darn quesadilla? Tacos, tacos, tacos. Tacos dorados called flautas, or taquitos, for which the tortillas are filled with pre-cooked shredded chicken, beef or barbacoa, rolled into an elongated cylinder and deep-fried until crisp. I’d have to say, those tacos are on fleek.

  %p BARBACOA!! BARBACOA!! Tacos al pastor made with adobada meat. I think I’ve overdosed on tacos. Let’s do a beef and a chicken, and one with both. I think I’ve overdosed on tacos. Give me all your tacos. Does guac cost extra? I’ve been following that taco truck around all day. How do you feel about hard shelled tacos? Josh’s taco shack is the best taco shack. Tacos, tacos, tacos. CARNE ASADA!! Yeah, apparently the taco shack was robbed. They left the money but took the tacos. CARNE ASADA!!

  %p 50 cent tacos! I’ll take 30. 50 cent tacos! I’ll take 30. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Give me all your tacos. 50 cent tacos! I’ll take 30. Black or pinto beans? How bout a gosh darn quesadilla? I’ve been following that taco truck around all day. It’s taco Tuesday Monday. Carne asada on corn tortillas. Say taco one more time. I think I’ve overdosed on tacos. Can you put some peppers and onions on that? Give me all the tacos, immediately.

  %p Give me tacos, or give me death. It’s raining tacos, from out of the sky, tacos, don’t even ask why. I think I’ve overdosed on tacos. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. TACOS!! CARNE ASADA!! Make it a double there pal.

  %p I’d have to say, those tacos are on fleek. Fish tacos with cabbage slaw and a side of chips and guac. How bout a gosh darn quesadilla? Make it a double there pal. CARNITAS!! Shrimp tacos are tasty tacos! Can you put some peppers and onions on that? Fish tacos with cabbage slaw and a side of chips and guac. CARNITAS!! It’s long been rumored that the chupacabra is really just a crazed man who’s local taco shop went out of business. Make it a double there pal. Burritos are very tasty. Carne asada on corn tortillas.

  %p Tacos al pastor made with adobada meat. Burritos are very tasty. Give me all your tacos. TACOS!! Shrimp tacos are tasty tacos! 50 cent tacos! I’ll take 30. How bout a gosh darn quesadilla? Tacos, tacos, tacos. Tacos dorados called flautas, or taquitos, for which the tortillas are filled with pre-cooked shredded chicken, beef or barbacoa, rolled into an elongated cylinder and deep-fried until crisp. I’d have to say, those tacos are on fleek.

  %p BARBACOA!! BARBACOA!! Tacos al pastor made with adobada meat. I think I’ve overdosed on tacos. Let’s do a beef and a chicken, and one with both. I think I’ve overdosed on tacos. Give me all your tacos. Does guac cost extra? I’ve been following that taco truck around all day. How do you feel about hard shelled tacos? Josh’s taco shack is the best taco shack. Tacos, tacos, tacos. CARNE ASADA!! Yeah, apparently the taco shack was robbed. They left the money but took the tacos. CARNE ASADA!!

  %p 50 cent tacos! I’ll take 30. 50 cent tacos! I’ll take 30. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Give me all your tacos. 50 cent tacos! I’ll take 30. Black or pinto beans? How bout a gosh darn quesadilla? I’ve been following that taco truck around all day. It’s taco Tuesday Monday. Carne asada on corn tortillas. Say taco one more time. I think I’ve overdosed on tacos. Can you put some peppers and onions on that? Give me all the tacos, immediately.

  %p Give me tacos, or give me death. It’s raining tacos, from out of the sky, tacos, don’t even ask why. I think I’ve overdosed on tacos. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. TACOS!! CARNE ASADA!! Make it a double there pal.

  %p I’d have to say, those tacos are on fleek. Fish tacos with cabbage slaw and a side of chips and guac. How bout a gosh darn quesadilla? Make it a double there pal. CARNITAS!! Shrimp tacos are tasty tacos! Can you put some peppers and onions on that? Fish tacos with cabbage slaw and a side of chips and guac. CARNITAS!! It’s long been rumored that the chupacabra is really just a crazed man who’s local taco shop went out of business. Make it a double there pal. Burritos are very tasty. Carne asada on corn tortillas.

  %p Tacos al pastor made with adobada meat. Burritos are very tasty. Give me all your tacos. TACOS!! Shrimp tacos are tasty tacos! 50 cent tacos! I’ll take 30. How bout a gosh darn quesadilla? Tacos, tacos, tacos. Tacos dorados called flautas, or taquitos, for which the tortillas are filled with pre-cooked shredded chicken, beef or barbacoa, rolled into an elongated cylinder and deep-fried until crisp. I’d have to say, those tacos are on fleek.

  %p BARBACOA!! BARBACOA!! Tacos al pastor made with adobada meat. I think I’ve overdosed on tacos. Let’s do a beef and a chicken, and one with both. I think I’ve overdosed on tacos. Give me all your tacos. Does guac cost extra? I’ve been following that taco truck around all day. How do you feel about hard shelled tacos? Josh’s taco shack is the best taco shack. Tacos, tacos, tacos. CARNE ASADA!! Yeah, apparently the taco shack was robbed. They left the money but took the tacos. CARNE ASADA!!

  %p 50 cent tacos! I’ll take 30. 50 cent tacos! I’ll take 30. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Give me all your tacos. 50 cent tacos! I’ll take 30. Black or pinto beans? How bout a gosh darn quesadilla? I’ve been following that taco truck around all day. It’s taco Tuesday Monday. Carne asada on corn tortillas. Say taco one more time. I think I’ve overdosed on tacos. Can you put some peppers and onions on that? Give me all the tacos, immediately.

  %p Give me tacos, or give me death. It’s raining tacos, from out of the sky, tacos, don’t even ask why. I think I’ve overdosed on tacos. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. TACOS!! CARNE ASADA!! Make it a double there pal.

  %p I’d have to say, those tacos are on fleek. Fish tacos with cabbage slaw and a side of chips and guac. How bout a gosh darn quesadilla? Make it a double there pal. CARNITAS!! Shrimp tacos are tasty tacos! Can you put some peppers and onions on that? Fish tacos with cabbage slaw and a side of chips and guac. CARNITAS!! It’s long been rumored that the chupacabra is really just a crazed man who’s local taco shop went out of business. Make it a double there pal. Burritos are very tasty. Carne asada on corn tortillas.

  %p Tacos al pastor made with adobada meat. Burritos are very tasty. Give me all your tacos. TACOS!! Shrimp tacos are tasty tacos! 50 cent tacos! I’ll take 30. How bout a gosh darn quesadilla? Tacos, tacos, tacos. Tacos dorados called flautas, or taquitos, for which the tortillas are filled with pre-cooked shredded chicken, beef or barbacoa, rolled into an elongated cylinder and deep-fried until crisp. I’d have to say, those tacos are on fleek.

  %p BARBACOA!! BARBACOA!! Tacos al pastor made with adobada meat. I think I’ve overdosed on tacos. Let’s do a beef and a chicken, and one with both. I think I’ve overdosed on tacos. Give me all your tacos. Does guac cost extra? I’ve been following that taco truck around all day. How do you feel about hard shelled tacos? Josh’s taco shack is the best taco shack. Tacos, tacos, tacos. CARNE ASADA!! Yeah, apparently the taco shack was robbed. They left the money but took the tacos. CARNE ASADA!!

  %p 50 cent tacos! I’ll take 30. 50 cent tacos! I’ll take 30. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Give me all your tacos. 50 cent tacos! I’ll take 30. Black or pinto beans? How bout a gosh darn quesadilla? I’ve been following that taco truck around all day. It’s taco Tuesday Monday. Carne asada on corn tortillas. Say taco one more time. I think I’ve overdosed on tacos. Can you put some peppers and onions on that? Give me all the tacos, immediately.
  .customize-text
  .customize-image
.focus-demo
  .form-group
    %label{:for => "email"} Email:
    %input#email.form-control{:name => "email", :placeholder => "Enter email", :type => "email"}/
  .form-group
    %label{:for => "pwd"} Password:
    %input#pwd.form-control{:name => "pwd", :placeholder => "Enter password", :type => "password"}/
  .checkbox
    %label
      %input{:name => "remember", :type => "checkbox"}/
      Remember me
  %button.btn.btn-default{:type => "submit"} Submit
.text-default#text-default
  %p Give me tacos, or give me death. It’s raining tacos, from out of the sky, tacos, don’t even ask why. I think I’ve overdosed on tacos. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. TACOS!! CARNE ASADA!! Make it a double there pal.

  %p I’d have to say, those tacos are on fleek. Fish tacos with cabbage slaw and a side of chips and guac. How bout a gosh darn quesadilla? Make it a double there pal. CARNITAS!! Shrimp tacos are tasty tacos! Can you put some peppers and onions on that? Fish tacos with cabbage slaw and a side of chips and guac. CARNITAS!! It’s long been rumored that the chupacabra is really just a crazed man who’s local taco shop went out of business. Make it a double there pal. Burritos are very tasty. Carne asada on corn tortillas.

  %p Tacos al pastor made with adobada meat. Burritos are very tasty. Give me all your tacos. TACOS!! Shrimp tacos are tasty tacos! 50 cent tacos! I’ll take 30. How bout a gosh darn quesadilla? Tacos, tacos, tacos. Tacos dorados called flautas, or taquitos, for which the tortillas are filled with pre-cooked shredded chicken, beef or barbacoa, rolled into an elongated cylinder and deep-fried until crisp. I’d have to say, those tacos are on fleek.

  %p BARBACOA!! BARBACOA!! Tacos al pastor made with adobada meat. I think I’ve overdosed on tacos. Let’s do a beef and a chicken, and one with both. I think I’ve overdosed on tacos. Give me all your tacos. Does guac cost extra? I’ve been following that taco truck around all day. How do you feel about hard shelled tacos? Josh’s taco shack is the best taco shack. Tacos, tacos, tacos. CARNE ASADA!! Yeah, apparently the taco shack was robbed. They left the money but took the tacos. CARNE ASADA!!

  %p 50 cent tacos! I’ll take 30. 50 cent tacos! I’ll take 30. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Give me all your tacos. 50 cent tacos! I’ll take 30. Black or pinto beans? How bout a gosh darn quesadilla? I’ve been following that taco truck around all day. It’s taco Tuesday Monday. Carne asada on corn tortillas. Say taco one more time. I think I’ve overdosed on tacos. Can you put some peppers and onions on that? Give me all the tacos, immediately.

  %p Give me tacos, or give me death. It’s raining tacos, from out of the sky, tacos, don’t even ask why. I think I’ve overdosed on tacos. Yeah, apparently the taco shack was robbed. They left the money but took the tacos. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. Fish tacos with cabbage slaw and a side of chips and guac. TACOS!! CARNE ASADA!! Make it a double there pal.

  %p I’d have to say, those tacos are on fleek. Fish tacos with cabbage slaw and a side of chips and guac. How bout a gosh darn quesadilla? Make it a double there pal. CARNITAS!! Shrimp tacos are tasty tacos! Can you put some peppers and onions on that? Fish tacos with cabbage slaw and a side of chips and guac. CARNITAS!! It’s long been rumored that the chupacabra is really just a crazed man who’s local taco shop went out of business. Make it a double there pal. Burritos are very tasty. Carne asada on corn tortillas.

  %p Tacos al pastor made with adobada meat. Burritos are very tasty. Give me all your tacos. TACOS!! Shrimp tacos are tasty tacos! 50 cent tacos! I’ll take 30. How bout a gosh darn quesadilla? Tacos, tacos, tacos. Tacos dorados called flautas, or taquitos, for which the tortillas are filled with pre-cooked shredded chicken, beef or barbacoa, rolled into an elongated cylinder and deep-fried until crisp. I’d have to say, those tacos are on fleek.

  %p BARBACOA!! BARBACOA!! Tacos al pastor made with adobada meat. I think I’ve overdosed on tacos. Let’s do a beef and a chicken, and one with both. I think I’ve overdosed on tacos. Give me all your tacos. Does guac cost extra? I’ve been following that taco truck around all day. How do you feel about hard shelled tacos? Josh’s taco shack is the best taco shack. Tacos, tacos, tacos. CARNE ASADA!! Yeah, apparently the taco shack was robbed. They left the money but took the tacos. CARNE ASADA!!
.focus-demo1
  .form-group
    %label{:for => "email"} Email:
    %input.form-control{:name => "email", :placeholder => "Enter email", :type => "email"}/
  .form-group
    %label{:for => "pwd"} Password:
    %input.form-control{:name => "pwd", :placeholder => "Enter password", :type => "password"}/
  .checkbox
    %label
      %input{:name => "remember", :type => "checkbox"}/
      Remember me
  %button.btn.btn-default{:type => "submit"} Submit
