:javascript
	var Spymaster = (function(){
		var internal_track = function(category, behavior, target, extras, options){
			console.log(category + " " + behavior + " " + target);
			console.log(extras);
			console.log(options);
		}
		return {
			track: function(params) {
		      if (typeof(arguments[0]) == 'object') {
		        var options = typeof(arguments[1]) == 'object' ? arguments[1] : {};
		        internal_track(params.category, params.behavior, params.target, params.extras, options);
		      } else {
		        var options = typeof(arguments[4]) == 'object' ? arguments[4] : {};
		        internal_track(arguments[0], arguments[1], arguments[2], arguments[3], options);
		      }
		    }
		}
	})();
